.sample{}

.container2{
    display: flex;
       
}

.outerContainer{
    display: flex;
    justify-content: center;
}

.innerContainer{
    justify-content: space-evenly;
    

}

.container3{
    padding: 75px;
}

.box{
    width: 100px;
    height: 100px;
    padding: 20px;
    background: linear-gradient(-45deg, #788cff, #b4c8ff);
}   