.sample{
    margin-left: 50px;
    margin-top: 50px;
    font-size: 35px;
    
}

.airHumidity{
    margin-left: 50px;
    font-size: 35px;
    padding-top: 150px;
}

.container{
    margin-left: 500px;
    display: flex;
       
}

.outerContainer{
    display: flex;
}

.innerContainer{
    justify-content: space-evenly;
    

}

.box{
    width: 100px;
    height: 100px;
    padding: 20px;
    background: linear-gradient(-45deg, #788cff, #b4c8ff);
}   